@font-face {
  font-family: "Raleway";
  src: url("https://fonts.google.com/specimen/Raleway");
}

body {
  background-color: #1F1F1F;
  font-family: "Lucida Sans";
  color: rgb(226, 236, 229);
}

.site {
  display: grid;
  grid-template-columns: 10% 15% 15% 10%;
  grid-template-rows: 25px 1fr 25px 100px 20px;
  grid-template-areas:
      "nav nav nav nav"
      ". splash  splash ."
      ". link link ."
      ". article article ."
      "footer footer footer footer";
}

.nav {
  grid-area: nav;
  justify-self: end;
}

li {
  display: inline;
  padding: 10px;
}

section {
  grid-area: splash;
}

.link {
  grid-area: link;
}

article {
  grid-area: article;
  display: grid;
  grid-template-columns: 50%;
  grid-template-areas: "email info";
}

.email {
  grid-area: email;
}

.info {
  grid-area: info;
}

a:link, a:visited {
  text-decoration: none;
  color: rgb(226, 236, 229);
}

a:hover, a:link.green, a:visited.green, .green {
  color: #E1FBAE;
}

footer {
  grid-area: footer;
  font-size: 12px;
}
