/* Core Styles */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #1F1F1F;
  color: rgb(226, 236, 229);
  font-size: 1.15em;
  line-height: 1.75;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  background: #879768;
  font-size: 1em;
  opacity: .5;
  color: #1F1F1F;
  text-decoration: none;
  padding: 2% 4%;
  border-radius: 20px;
  margin: 0.5em 0;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.70);
}

.btn:hover {
  display: inline-block;
  background: #E0FBAE;
  opacity: 1;
  color: #1F1F1F;
}

.bar {
  padding-top: 1em;
}

.bar a:link, .bar a:visited, a {
  text-decoration: none;
  color: rgb(226, 236, 229);
}

.bar a:hover {
  color: #E0FBAE;
}

li {
  display: inline;
  padding: 10px;
}

h1, h2, h3, h4 {
  margin: 0;
  padding-top: 2em;
  padding-left: .5em;
  color: #E0FBAE;
}

p {
  margin: 0;
  padding: .5em 1em;
}

footer {
  padding-top: 1em;
  font-size: 10px;
}

footer a {
  font-size: 15px;
  text-decoration: underline;
}
