/* Core Styles */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #1F1F1F;
  color: rgb(226, 236, 229);
  font-size: 1.15em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  background: rgb(226, 236, 229);
  font-size: 1em;
  opacity: .4;
  color: #1F1F1F;
  text-decoration: none;
  padding: 2% 4%;
  border: 2px solid rgb(226, 236, 229);
  margin: 0.5em 0;
}

.btn:hover {
  display: inline-block;
  background: #E1FBAE;
  opacity: 1;
  color: #1F1F1F;



}

.bar {
  padding-top: 1em;
}

.bar a:link, .bar a:visited {
  text-decoration: none;
  color: rgb(226, 236, 229);
}

.bar a:hover{
  color: #E1FBAE;
}


h3 {
  margin: 0;
  padding: 1em 0;
  color: #E1FBAE;
}

p {
  margin: 0;
  padding: .5em 1em;
}



li{
  display: inline;
  padding: 20px;
}


header a {
  border: 1px solid rgb(226, 236, 229);
  padding: 20px;
}

footer{
  padding-top: 1em;
  font-size: 10px;
}

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: .5fr repeat(2, minmax(auto, 30em)) .5fr;
  }

  .content-wrap {
    grid-column: 2/4;
  }

  #section-b .content-text {
    grid-column: 2/4;
  }
